@model IEnumerable<Challenge_Superliga_.Models.Socio>

@{
    ViewData["Title"] = "Socios";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1>Socios</h1>
<link href="~/css/Socios/Socios.css" rel="stylesheet" />

<table class="table" width="100%">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Edad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Equipo)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Edad)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Equipo)
                </td>
            </tr>
        }
    </tbody>
</table>
<div class="form" style="position:inherit">
    <label>Personas Totales: </label>
    <label> @ViewBag.TotalSocios</label>
    <label>Nombres Mas Repetido hinchas de River: </label>
    @foreach (var item in @ViewBag.NombreComunRiver)
    {
        <label>@item</label>
    }
</div>
<br />
<br />
<table class="table" width="100%">
    <thead>
        <tr>
            <th>
                Cantidad
            </th>
            <th>
                Equipo
            </th>
            <th>
                PromEdad
            </th>
            <th>
                MaxEdad
            </th>
            <th>
                MinEdad
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in ViewBag.DatosEquipo)
        {
            <tr>
                <td>
                    @item.Cantidad 
                </td>
                <td>
                    @item.Equipo
                </td>
                <td>
                    @item.PromEdad
                </td>
                <td>
                    @item.MaxEdad
                </td>
                <td>
                    @item.MinEdad
                </td>
            </tr>
        }
    </tbody>
</table>
<br />
<br />
<script>
    $(document).ready(function () {
        $('.table').DataTable();
    });
</script>

