@model Challenge_Superliga_.Models.ResultadoSocio

@{
    ViewData["Title"] = "Socios";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1>Socios</h1>
<link href="~/css/Socios/Socios.css" rel="stylesheet" />

<table class="table" width="100%">
    <thead>
        <tr>
            <th>
                Nombre
            </th>
            <th>
                Edad
            </th>
            <th>
                Equipo
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.lstSocios)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Edad)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Equipo)
                </td>
            </tr>
        }
    </tbody>
</table>
<br />
<div class="form" style="position:inherit">
    <label>Personas Totales: </label>
    <label> @Model.CantidadSocios</label>
    <label>Promedio Edad Hinchas de racing: </label>
    <label> @Model.PromedioEdadRacing</label>
</div>
<br />
<br />
<label>Nombres Mas Repetido hinchas de River: </label>
<table class="table" width="100%">
    <thead>
        <tr>
            <th>
                Nombre
            </th>
            <th>
                Cantidad
            </th>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.lstNombreComunRiver)
        {
            <tr>
                <td>
                    @item.Cantidad
                </td>
                <td>
                    @item.Nombre
                </td>
            </tr>
        }
    </tbody>
</table>
<br />
<br />
<table class="table" width="100%">
    <thead>
        <tr>
            <th>
                Cantidad
            </th>
            <th>
                Equipo
            </th>
            <th>
                PromEdad
            </th>
            <th>
                MaxEdad
            </th>
            <th>
                MinEdad
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.lstDatoEquipo)
        {
            <tr>
                <td>
                    @item.Cantidad
                </td>
                <td>
                    @item.Equipo
                </td>
                <td>
                    @item.PromEdad
                </td>
                <td>
                    @item.MaxEdad
                </td>
                <td>
                    @item.MinEdad
                </td>
            </tr>
        }
    </tbody>
</table>
<br />
<br />
<script>
    $(document).ready(function () {
        $('.table').DataTable();
    });
</script>

